@mixin flex-def {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

@mixin flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flex-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
