.default-btn {
    border: none;
    background: #ffffff;
    width: 90px;
    height: 65px;
    overflow: visible;
    position: relative;
    outline: none;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    .default-btn__text {
        position: absolute;
        font-weight: bold;
        font-size: 40px;
        width: 135px;
        left: -60px;
        top: -10px;
    }
    .default-btn__text--1 {
        color: $secondOrange;
        font-size: 30px;
    }

    &:hover .default-btn__text {
        animation-duration: 0.5s;
        animation-name: slidein1;
        animation-fill-mode: forwards;
    }
    &:hover {
        animation-duration: 0.5s;
        animation-name: slidein2;
        animation-fill-mode: forwards;
    }

    @keyframes slidein1 {
        0% {
            left: -60px;
        }
      
        100% {
            left: 30px;
        }
    }
    @keyframes slidein2 {
        0% {
            width: 90px;
        }
      
        100% {
            width: 200px;
        }
    }

    &:not(:hover) .default-btn__text {
        animation-duration: 0.5s;
        animation-name: slidein1back;
        animation-fill-mode: forwards;
    }
    &:not(:hover) {
        animation-duration: 0.5s;
        animation-name: slidein2back;
        animation-fill-mode: forwards;
    }

    @keyframes slidein1back {
        0% {
            left: 30px;
        }

        100% {
            left: -60px;
        }
    }
    @keyframes slidein2back {
        0% {
            width: 200px;
        }
        100% {
            width: 90px;
        }
    }
}

.default-btn--2 {
    border: none;
    background: #ffffff;
    height: 65px;
    padding: 0 80px;
    overflow: visible;
    position: relative;
    outline: none;
    box-shadow: 10px 10px 6px -8px rgba(0,0,0,0.33);
    cursor: pointer;
    .default-btn__text {
        position: absolute;
        font-weight: bold;
        font-size: 44px;
        transform: translate(-50%, -60%);
        img {
            width: 90px;
        }
    }
    .default-btn__text--1 {
        color: $secondOrange;
        font-size: 30px;
    }
}

.default-btn--3 {
    border: none;
    background: #ffffff;
    width: 200px;
    height: 65px;
    overflow: visible;
    position: relative;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    .default-btn__text {
        position: absolute;
        font-weight: bold;
        font-size: 40px;
        width: 250px;
        left: -60px;
        top: -10px;
    }
    .default-btn__text--1 {
        color: $secondOrange;
        font-size: 30px;
    }

    &:hover {
        animation-duration: 0.5s;
        animation-name: slidein4;
        animation-fill-mode: forwards;
    }
    
    @keyframes slidein4 {
        0% {
            width: 200px;
        }
      
        100% {
            width: 370px;
        }
    }

    &:not(:hover) {
        animation-duration: 0.5s;
        animation-name: slidein4back;
        animation-fill-mode: forwards;
    }

    @keyframes slidein4back {
        0% {
            width: 370px;
        }
        100% {
            width: 200px;
        }
    }
}

.buy-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #ffffff;
    color: $mainOrange;
    font-size: 24px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 6px -8px rgba(0,0,0,0.33);
    outline: none;
    cursor: pointer;
}

.more-btn {
    border: none;
    background: $mainOrange;
    color: #ffffff;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    font-size: 30px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.article-more-btn {
    border: none;
    background: $mainOrange;
    color: #ffffff;
    width: 200px;
    height: 40px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.panel-btn {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: $mainOrange;
    border: none;
    outline: none;
}

.cart-buy-btn {
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #ffffff;
    color: #ffffff;
    background: transparent;
    outline: none;
    border-radius: 70px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}

.register-btn {
    width: 100%;
    height: 70px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 70px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}