@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: normal;
  src: url("../../../assets/font/ttf/IRANYekanRegular.ttf") format("truetype");
}

@font-face {
  font-family: Kalameh;
  font-style: normal;
  font-weight: normal;
  src: url("../../../assets/font/ttf/Kalameh Regular.ttf") format("truetype");
}
/*# sourceMappingURL=fonts.css.map */