.container-100 {
    width: 100%;
    margin: 0 auto;
}

.container-90 {
    width: 90%;
    margin: 0 auto;
}

.container-75 {
    width: 75%;
    margin: 0 auto;
}

.container-50 {
    width: 50%;
    margin: 0 auto;
}

.container-25 {
    width: 25%;
    margin: 0 auto;
}