* {
    margin: 0;
    padding: 0;
}

body {
    font-family: IRANYekan !important;
    background-color: #ffffff;
    overflow-x: hidden;
}

li {
    list-style: none;
}

button {
    font-family: IRANYekan !important;
}

h1,
h2,
h3 {
    font-family: Kalameh !important;
}

a {
    text-decoration: none;
    cursor: pointer !important;
}

.page-wrap {
    position: relative;
    overflow: hidden;
}

.line {
    @include flex-bet;
    align-items: flex-start;
    margin-top: 50px;
    > * {
        margin-right: 10px;
    }
}

.line--space {
    @include flex-bet;
    align-items: flex-start;
    margin-top: 20px;
    > * {
        margin-right: 60px;
    }
}

#loading{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #ffffff;
    opacity: 1;
    transition: 0.5s;
    visibility: visible;
    z-index: 20;
    #preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    #loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: $secondOrange;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: $lightOrange;
        -webkit-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }
    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: $mainOrange;
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }
    @-webkit-keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}

#loading.hidden{
    opacity: 0;
    visibility: hidden;
}

.bg {
    position: relative;
}

.bg-sq-1 {
    width: 2000px;
    height: 650px;
    background: $mainOrange;
    position: absolute;
    top: -130px;
    left: -345px;
    z-index: -1;
    -webkit-transform: rotate(-22deg);
    transform: rotate(-30deg);
}

.bg-sq-2 {
    width: 2000px;
    height: 720px;
    background: $lightOrange;
    position: absolute;
    top: -130px;
    left: -210px;
    z-index: -2;
    transform: rotate(8deg);
}

.bg-wave-1 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    left: -204px;
    bottom: -243px;
}

.bg-wave-2 {
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background: #ffedcf;
    position: absolute;
    left: -456px;
    bottom: -509px;
    opacity: 0.3;
    z-index: 9;
}

.bg-wave-3 {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background: $lightOrange;
    position: absolute;
    left: -533px;
    bottom: -607px;
    opacity: 0.3;
    z-index: 8;
}

.bg-wave-4 {
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background: #ffb844;
    position: absolute;
    left: -558px;
    bottom: -653px;
    opacity: 0.3;
    z-index: 7;
}

@media only screen and (max-width: 768px) {
    .container-75 {
        width: 100% !important;
    }
    .container-50 {
        width: 100% !important;
    }
    .bg-sq-1 {
        position: absolute;
        height: 530px;
        left: -500px;
        -webkit-transform: rotate(-22deg);
        transform: rotate(-40deg);
    }
    .bg-sq-2 {
        position: absolute;
        left: -800px;
        -webkit-transform: rotate(8deg);
        transform: rotate(30deg);
    }
    .line {
        flex-direction: column;
        align-items: center;
    }
    .bg-wave-1 {
        width: 500px;
        bottom: -280px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 10;
    }
    .bg-wave-2 {
        bottom: -593px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .bg-wave-3 {
        bottom: -681px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .bg-wave-4 {
        bottom: -801px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}