.footer {
    background-image: linear-gradient(135deg, $mainOrange_2 1.61%, $mainOrange 1.61%, $mainOrange 50%, $mainOrange_2 50%, $mainOrange_2 51.61%, $mainOrange 51.61%, $mainOrange 100%);
    background-size: 43.84px 43.84px;
    margin: 20px 0 0 0;
    text-align: right;
    overflow: hidden;
    position: relative;
    .footer__wrapper {
        padding: 100px 0;
        width: 60%;
        margin-left: auto;
        margin-right: 100px;
        .footer__box--small {
            width: 280px;
        }
        .footer__box {
            z-index: 11;
            .footer__box__title {
                font-size: 26px;
                color: #ffffff;
            }
            .footer__box__list {
                .footer__box__list__item {
                    margin: 30px 0 0 0;
                    .footer__box__list__item__link {
                        font-size: 22px;
                        color: #ffffff;
                    }
                    .footer__box__list__item__info {
                        font-size: 14px;
                        color: #ffffff;
                    }
                    .footer__box__list__item__phone {
                        width: 170px;
                        height: 70px;
                        @include flex-def;
                        font-size: 22px;
                        flex-direction: row;
                        border-radius: 40px;
                        background: #ffffff;
                        margin-left: auto;
                        box-shadow: -10px 10px 0px 0px rgba(255,184,68,1);
                        i {
                            color: #000000;
                            font-size: 22px;
                            padding: 0 10px 0 0;
                        }
                        .footer__box__list__item__phone__num {
                            color: $mainOrange;
                        }
                    }
                    .footer__box__list__item__social {
                        @include flex-bet;
                        i {
                            color: #ffffff;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    .footer__box__logo {
        position: relative;
        .footer__box__logo__img {
            width: 100px;
            position: absolute;
            left: 10px;
            bottom: 0;
            z-index: 11;
        }
    }
    .small-sq-1 {
        width: 80px;
        height: 200px;
        background: $secondOrange;
        opacity: 0.5;
        position: absolute;
        right: 170px;
        bottom: 15px;
        transform: rotate(-50deg);
    }
    .small-sq-2 {
        width: 80px;
        height: 200px;
        background: $secondOrange;
        opacity: 0.2;
        position: absolute;
        left: 680px;
        bottom: -5px;
        transform: rotate(-50deg);
    }
    .small-sq-3 {
        width: 80px;
        height: 200px;
        background: $secondOrange;
        opacity: 0.1;
        position: absolute;
        left: 650px;
        bottom: -20px;
        transform: rotate(-50deg);
    }
}

@media only screen and (max-width: 768px) {
    .footer__box--1 {
        display: none;
    }
    .footer__box--2 {
        text-align: center;
        margin: 0 auto;
    }
    .footer__box--3 {
        display: none;
    }
    .footer .footer__box__logo .footer__box__logo__img {
        left: 50%;
        transform: translate(-50%, 0);
    }
    .footer .footer__wrapper {
        padding: 70px 0 200px 0;
        width: 60%;
        margin-left: auto;
        margin-right: 100px;
    }
    .footer__box__list__item__phone {
        margin: 0 auto;
    }
}