.header {
    .header__wrapper {
        @include flex-bet;
        padding-top: 30px;
        .header__navbar {
            .header__nav {
                .header__nav__list {
                    @include flex-def;
                    .header__nav__list__item {
                        padding: 0 35px;
                        list-style: none;
                        .header__nav__list__item__link {
                            color: #ffffff;
                            position: relative;
                            img {
                                width: 50px;
                            }
                        }
                    }
                }
            }
        }
        .header__logo {
            .header__logo__link {
                .header__logo__img {
                    width: 100px !important;
                }
            }
        }
    }
    
    .responsive-header {
        display: none;
    }

    @media only screen and (max-width: 768px) {
        .desktop-header {
            display: none;
        }

        .responsive-header {
            display: block;
            .cart-nav-open {
                width: 50px;
                display: none;
            }
            .cart-nav-close {
                width: 50px;
            }
            .navbar-toggler {
                outline: none;
                i {
                    font-size: 32px;
                    color: #ffffff;
                }
            }
            .navbar-collapse {
                padding: 15px;
                .navbar-nav {
                    text-align: right;
                    .nav-item {
                        padding: 5px 0;
                        border-bottom: 1px solid $lightGrey;
                        &:last-child {
                            border-bottom: none;
                        }
                        .nav-link {
                            color: $mainOrange;
                        }
                    }
                }
            }
        }
    }
}