.landing-hero {
    .landing-hero__content {
        @include flex-col;
        padding: 60px 0px;
        .landing-hero__title {
            color: #ffffff;
            font-size: 140px;
            text-shadow: 2px 5px 0px #cccccc7a;
        }
        .landing-hero__desc {
            color: #ffffff;
            font-size: 70px;
            margin-bottom: 100px;
            text-shadow: 2px 5px 0px #cccccc7a;
        }
    }
    .bg-img-1 {
        position: absolute;
        right: 120px;
        top: -20px;
        width: 620px;
        z-index: -1;
    }
    .bg-img-2 {
        width: 240px;
        position: absolute;
        z-index: -1;
        left: 240px;
        transform: rotate(-45deg);
    }
}

.landing-desc {
    @include flex-def;
    position: relative;
    padding: 215px 0 100px 0;
    .landing-desc-title {
        .landing-desc-title-text {
            text-align: center;
            font-size: 80px;
            line-height: 80px;
            color: $mainOrange;
        }
        .bg-wm-1 {
            position: absolute;
            top: 135px;
            right: 0;
            opacity: 0.1;
            font-weight: bold;
            font-size: 280px;
            color: $mainOrange;
        }
    }
    .landing-desc-more {
        .landing-desc-more__title {
            text-align: right;
            color: $mainOrange;
            font-size: 20px;
            font-weight: bold;
        }
        .landing-desc-more__desc {
            font-size: 14px;
            direction: rtl;
            text-align: justify;
        }
    }
}

.landing-offer{
    @include flex-def;
    position: relative;
    height: 600px;
    .bg-wm-2 {
        position: absolute;
        font-size: 170px;
        color: #ffffff;
        opacity: 0.2;
        top: 0;
        right: 80px;
        z-index: 1;
    }
    .landing-offer__title {
        color: #ffffff;
        position: absolute;
        top: 0;
        font-size: 170px;
        z-index: 1;
    }
    .landing-offer__right {
        .swiper-container {
            width: 100%;
            height: 100%;
            overflow: hidden;
            pointer-events: none;
          }
          .swiper-slide {      
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
          }
        width: 50%;
        height: 600px;
        background: $secondOrange;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        .landing-offer__right__texts {
            .offer__text--1--in {
                font-size: 18px;
                color: #000000;
                position: absolute;
                top: 161px;
                right: 181px;
                width: 150px;
                height: 40px;
                text-align: center;
            }
            .offer__text--2--in {
                font-size: 60px;
                color: #000000;
                position: absolute;
                top: 202px;
                right: 158px;
                width: 300px;
                height: 150px;
            }
            .offer__text--3--in {
                font-size: 25px;
                color: #ffffff;
                position: absolute;
                top: 311px;
                left: 50%;
            }
            .landing-offer__right--box--in {
                display: flex;
                flex-direction: row-reverse;
                position: unset;
                .offer__text--4--in {
                    width: 270px;
                    padding: 0 5px;
                    height: 135px;
                    font-size: 10px;
                    direction: rtl;
                    text-align: justify;
                    color: #000000;
                    position: absolute;
                    top: 353px;
                    right: 181px;
                }
                .offer__text--5--in {
                    width: 100px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    color: #ffffff;
                    transform: rotate(-90deg);
                    position: absolute;
                    top: 378px;
                    right: 437px;
                }
                .offer__text--6--in {
                    width: 100px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    color: #ffffff;
                    transform: rotate(-90deg);
                    position: absolute;
                    top: 378px;
                    right: 488px;
                }
                .offer__text--7--in {
                    width: 100px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    color: #ffffff;
                    transform: rotate(-90deg);
                    position: absolute;
                    top: 378px;
                    right: 539px;
                }
            }
            .offer__text--8--in {
                width: 50px;
                height: 40px;
                font-size: 18px;
                color: #ffffff;
                position: absolute;
                top: 454px;
                right: 462px;
            }
        }
        .landing-offer__right__table {
            .offer__text--1 {
                font-size: 18px;
                color: #000000;
                position: absolute;
                top: 161px;
                right: 181px;
                width: 150px;
                height: 40px;
                text-align: center;
                border: 1px solid #ffffff;
            }
            .offer__text--2 {
                font-size: 80px;
                color: #000000;
                position: absolute;
                top: 200px;
                right: 181px;
                border: 1px solid #ffffff;
                width: 300px;
                height: 150px;
            }
            .offer__text--3 {
                font-size: 30px;
                color: #ffffff;
                position: absolute;
                top: 311px;
                left: 50%;
            }
            .landing-offer__right--box {
                display: flex;
                flex-direction: row-reverse;
                position: unset;
                .offer__text--4 {
                    width: 270px;
                    padding: 0 5px;
                    height: 135px;
                    font-size: 10px;
                    direction: rtl;
                    text-align: justify;
                    color: #000000;
                    border: 1px solid #ffffff;
                    position: absolute;
                    top: 353px;
                    right: 181px;
                }
                .offer__text--5 {
                    width: 100px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    color: #ffffff;
                    transform: rotate(-90deg);
                    border: 1px solid #ffffff;
                    position: absolute;
                    top: 378px;
                    right: 437px;
                }
                .offer__text--6 {
                    width: 100px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    color: #ffffff;
                    transform: rotate(-90deg);
                    border: 1px solid #ffffff;
                    position: absolute;
                    top: 378px;
                    right: 488px;
                }
                .offer__text--7 {
                    width: 100px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    color: #ffffff;
                    transform: rotate(-90deg);
                    border: 1px solid #ffffff;
                    position: absolute;
                    top: 378px;
                    right: 539px;
                }
            }
            .offer__text--8 {
                width: 50px;
                height: 40px;
                font-size: 18px;
                color: #ffffff;
                position: absolute;
                top: 454px;
                right: 462px;
                border: 1px solid #ffffff;
            }
        }
        .offer__text__more {
            margin: 0 0 10px 0;
        }
    }
    .landing-offer__left {
        width: 50%;
        height: 600px;
        position: relative;
        pointer-events: none;
        .swiper-container {
            width: 100%;
            height: 100%;
            position: absolute;
          }
          .swiper-slide {
            text-align: center;
      
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            .landing-offer__left__top__img {
                position: absolute;
                width: 600px;
                left: 50%;
                transform: translate(-50%, 0);
                top: 50px;
                z-index: 2;
            }
            .landing-offer__left__top__desc {
                position: absolute;
                color: #000000;
                bottom: 0;
                font-weight: bold;
                left: 50%;
                bottom: 40px;
                transform: translate(-50%, 0);
                font-size: 30px;            
            }
          }
        .landing-offer__left__top {
            background: $mainOrange;
            height: 400px;
            position: relative;
        }
        .landing-offer__left__bottom {
            @include flex-def;
            .landing-offer__left__bottom__right {
                width: 50%;
                height: 200px;
                background: $lightOrange;
            }
            .landing-offer__left__bottom__left {
                width: 50%;
                height: 200px;
                background: $mainYellow;
            }
        }
    }
}

.landing-products {
    padding: 50px 0 0 0;
    .landing-products__header {
        text-align: right;
        .landing-products__header__title {
            font-size: 120px;
            color: $mainOrange;
        }
        .landing-products__header__filter {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            .landing-products__header__filter__item {
                font-size: 22px;
                padding: 0 45px;
                color: #000000;
                cursor: pointer;
            }
            .landing-products__header__filter__item--active {
                color: $mainOrange;
            }
        }
    }
    .landing-products__body {
        .landing-products__body__product-box {
            width: 300px;
            .landing-products__body__product-box__pic {
                text-align: center;
                .landing-products__body__product-box__pic__img {
                    width: 220px;
                    margin-bottom: -100px;
                }
            }
            .landing-products__body__product-box__body {
                padding: 70px 20px;
                border-radius: 60px;
                background: $secondOrange;
                color: #ffffff;
                text-align: center;
                @include flex-def;
                .landing-products__body__product-box__body--right {
                    width: 100%;
                    .landing-products__body__product-box__body__rating {
                        visibility: hidden;
                        opacity: 0;
                        direction: rtl;
                        i {
                            color: #ffffff;
                        }
                    }
                    .landing-products__body__product-box__body__name {
                        font-weight: bold;
                        font-size: 24px;
                    }
                    .landing-products__body__product-box__body__price {
                        direction: rtl;
                    }
                }
                .landing-products__body__product-box__body--left {
                    width: 50%;
                    position: absolute;
                    visibility: hidden;
                    opacity: 0;
                    .landing-products__body__product-box__body__desc {
                        width: 100%;
                        font-size: 12px;
                        direction: rtl;
                        text-align: justify;
                    }
                }
            }
            .landing-products__body__product-box__buy {
                display: flex;
                justify-content: center;
                margin-left: 0;
                margin-top: -20px;
            }

            &:hover {
                animation-duration: 0.5s;
                animation-name: product-width;
                animation-fill-mode: forwards;
            }
            
            &:not(:hover) {
                animation-duration: 0.5s;
                animation-name: product-width-r;
                animation-fill-mode: forwards;
            }

            &:hover .landing-products__body__product-box__body {
                animation-duration: 0.5s;
                animation-name: product-height;
                animation-fill-mode: forwards;
            }

            &:not(:hover) .landing-products__body__product-box__body {
                animation-duration: 0.5s;
                animation-name: product-height-r;
                animation-fill-mode: forwards;
            }

            &:hover .landing-products__body__product-box__pic {
                animation-duration: 0.5s;
                animation-name: product-pic;
                animation-fill-mode: forwards;
            }

            &:not(:hover) .landing-products__body__product-box__pic {
                animation-duration: 0.5s;
                animation-name: product-pic-r;
                animation-fill-mode: forwards;
            }

            &:hover .landing-products__body__product-box__buy {
                animation-duration: 0.5s;
                animation-name: product-btn-up;
                animation-fill-mode: forwards;
            }

            &:not(:hover) .landing-products__body__product-box__buy {
                animation-duration: 0.5s;
                animation-name: product-btn-up-r;
                animation-fill-mode: forwards;
            }

            &:hover .landing-products__body__product-box__body--left {
                animation-duration: 0.5s;
                animation-name: product-desc;
                animation-fill-mode: forwards;
            }

            &:hover .landing-products__body__product-box__body--right {
                animation-duration: 0.5s;
                animation-name: product-info;
                animation-fill-mode: forwards;
            }

            &:hover .landing-products__body__product-box__body__rating {
                animation-duration: 0.5s;
                animation-name: product-rate;
                animation-fill-mode: forwards;
            }

            @keyframes product-width {
                0% {
                    width: 300;
                }
                100% {
                    width: 420px;
                }
            }

            @keyframes product-width-r {
                100% {
                    width: 300;
                }
                0% {
                    width: 420px;
                }
            }

            @keyframes product-height {
                0% {
                    padding: 70px 20px;
                }
                80% {
                    padding: 100px 20px;
                }
            }

            @keyframes product-height-r {
                100% {
                    padding: 70px 20px;
                }
                0% {
                    padding: 100px 20px;
                }
            }

            @keyframes product-pic {
                0% {
                    margin-left: 0;
                }
                100% {
                    margin-left: 230px;
                }
            }

            @keyframes product-pic-r {
                100% {
                    margin-left: 0;
                }
                0% {
                    margin-left: 230px;
                }
            }

            @keyframes product-btn-up {
                0% {
                    margin-top: -20px;
                    margin-right: 0;
                }
                100% {
                    margin-top: -70px;
                    margin-right: 210px;
                }
            }

            @keyframes product-btn-up-r {
                100% {
                    margin-top: -20px;
                    margin-right: 0;
                }
                0% {
                    margin-top: -70px;
                    margin-right: 210px;
                }
            }

            @keyframes product-desc {
                0% {
                    position: absolute;
                    visibility: hidden;
                    opacity: 0;
                }
                80% {
                    position: absolute;
                    opacity: 0;
                }
                90% {
                    opacity: 0;
                }
                100% {
                    position: static;
                    visibility: visible;
                    opacity: 1;
                }
            }

            @keyframes product-info {
                0% {
                    width: 100%;
                }
                100% {
                    width: 50%;
                }
            }

            @keyframes product-rate {
                0% {
                    visibility: hidden;
                    opacity: 0;
                }
                70% {
                    opacity: 0;
                }
                100% {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

.single-article {
    height: 800px;
    padding: 50px 0 0 0;
    @include flex-def;
    align-items: flex-start!important;
    .single-article__right {
        width: 40%;
        text-align: right;
        padding: 0 75px 0 0;
        .single-article__right__title {
            padding-bottom: 20px;
            font-size: 26px;
            font-weight: bold;
            color: #000000;
        }
        .single-article__right__desc {
            font-size: 16px;
            font-weight: normal;
            color: #000000;
            direction: rtl;
            text-align: justify;
            margin: 20px 0;
        }
    }
    .single-article__left {
        width: 60%;
        position: relative;
        .single-article__left__img {
            width: auto;
            height: 800px;
        }
        .bg-ov-1 {
            width: 500px;
            height: 800px;
            position: absolute;
            background: $mainOrange;
            opacity: 0.2;
            right: 100px;
        }
    }
}

.landing-articles {
    padding: 120px 0 20px 0;
    .article__box {
        text-align: center;
        .article__box__pic {
            width: 250px;
            height: 250px;
            margin: 0 auto 20px auto;
            border-radius: 40px;
            box-shadow: 25px -25px 0px 0px rgba(255,184,68,1);
            .article__box__pic__img {
                width: 250px;
            }
        }
        .article__box__title {
            .article__box__title__text {
                font-size: 26px;
                color: #000000;
                text-align: right;
            }
        }
        .article__box__body {
            .article__box__body__text {
                font-size: 16px;
                color: #000000;
                direction: rtl;
                text-align: justify;
            }
        }
        .article__box__more {
            margin: 20px 0;
        }
        .article__box__footer {
            .article__box__footer__text {
                font-size: 14px;
                color: #000000;
            }
        }
    }
}

.landing-family {
    width: 100%;
    height: 800px;
    margin: 50px 0;
    position: relative;
    background: #FFF4E7;
    .landing-family__header {
        width: 100%;
        height: 400px;
        position: relative;
        .landing-family__header__title {
            width: 100%;
            color: $mainOrange;
            font-size: 120px;
            position: absolute;
            left: 50%;
            transform: translate(-35%, 0);
            top: 70px;
        }
        .landing-family__header__title--wm {
            width: 160%;
            font-size: 232px;
            opacity: 0.2;
            position: absolute;
            left: 50%;
            transform: translate(-40%, 0);
            top: 10px;
        }
    }
    .family-box,
    .family-box--1,
    .family-box--2,
    .family-box--3 {
        width: 250px;
        height: 250px;
        background: #ffffff;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        z-index: 0;
        .family-box__header {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background: #ffffff;
            @include flex-def;
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
            .family-box__header__img {
                width: 100px;
            }
        }
        .family-box__header--1 {
            margin: -100px -50px 0 auto;
            .family-box__header__img {
                width: 100px;
            }
        }
        .family-box__header--2 {
            margin: -100px auto 0 auto;
            .family-box__header__img {
                width: 100px;
            }
        }
        .family-box__header--3 {
            margin: -100px auto 0 -50px;
            .family-box__header__img {
                width: 100px;
            }
        }
        .family-box__body {
            text-align: center;
            padding: 30px 0;
            .family-box__body__title {
                font-size: 14px;
            }
            .family-box__body__title--1 {
                font-size: 14px;
                color: #000CA5;
            }
            .family-box__body__title--2 {
                font-size: 14px;
                color: #7BC347;
            }
            .family-box__body__title--3 {
                font-size: 14px;
                color: $secondOrange;
            }
        }
        .family-box__footer {
            text-align: center;
            .family-box__footer__link {
                .site-btn {
                    border: none;
                    background: #ffffff;
                    width: 200px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 18px;
                    border-radius: 30px;
                    outline: none;
                    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
                    margin-left: 0;
                    cursor: pointer;
                    .site-btn__text--1 {
                        color: #000CA5;
                        font-weight: bold;
                    }
                    .site-btn__text--2 {
                        color: #7BC347;
                        font-weight: bold;
                    }
                    .site-btn__text--3 {
                        color: $secondOrange;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .family-box--1:hover {
        animation-duration: 0.5s;
        animation-name: family-box1;
        animation-fill-mode: forwards;
    }

    .family-box--2:hover {
        animation-duration: 0.5s;
        animation-name: family-box2;
        animation-fill-mode: forwards;
    }

    .family-box--3:hover {
        animation-duration: 0.5s;
        animation-name: family-box3;
        animation-fill-mode: forwards;
    }

    .family-box--1:not(:hover) {
        animation-duration: 0.5s;
        animation-name: family-box1-r;
        animation-fill-mode: forwards;
    }

    .family-box--2:not(:hover) {
        animation-duration: 0.5s;
        animation-name: family-box2-r;
        animation-fill-mode: forwards;
    }

    .family-box--3:not(:hover) {
        animation-duration: 0.5s;
        animation-name: family-box3-r;
        animation-fill-mode: forwards;
    }

    .family-box:hover .family-box__header--1 {
        animation-duration: 0.5s;
        animation-name: family-header1;
        animation-fill-mode: forwards;
    }

    .family-box:hover .family-box__header--2 {
        animation-duration: 0.5s;
        animation-name: family-header2;
        animation-fill-mode: forwards;
    }

    .family-box:hover .family-box__header--3 {
        animation-duration: 0.5s;
        animation-name: family-header3;
        animation-fill-mode: forwards;
    }

    .family-box:not(:hover) .family-box__header--1 {
        animation-duration: 0.5s;
        animation-name: family-header1-r;
        animation-fill-mode: forwards;
    }

    .family-box:not(:hover) .family-box__header--2 {
        animation-duration: 0.5s;
        animation-name: family-header2-r;
        animation-fill-mode: forwards;
    }

    .family-box:not(:hover) .family-box__header--3 {
        animation-duration: 0.5s;
        animation-name: family-header3-r;
        animation-fill-mode: forwards;
    }

    .family-box:hover .family-box__header__img {
        animation-duration: 0.5s;
        animation-name: family-header-img;
        animation-fill-mode: forwards;
    }

    .family-box:not(:hover) .family-box__header__img {
        animation-duration: 0.5s;
        animation-name: family-header-img-r;
        animation-fill-mode: forwards;
    }

    .family-box:hover .family-box__body__title--1 {
        animation-duration: 0.5s;
        animation-name: family-body1;
        animation-fill-mode: forwards;
    }

    .family-box:hover .family-box__body__title--2 {
        animation-duration: 0.5s;
        animation-name: family-body2;
        animation-fill-mode: forwards;
    }

    .family-box:hover .family-box__body__title--3 {
        animation-duration: 0.5s;
        animation-name: family-body3;
        animation-fill-mode: forwards;
    }

    .family-box:hover .site-btn {
        animation-duration: 0.5s;
        animation-name: family-footer;
        animation-fill-mode: forwards;
    }

    .family-box:not(:hover) .site-btn {
        animation-duration: 0.5s;
        animation-name: family-footer-r;
        animation-fill-mode: forwards;
    }

    @keyframes family-box1 {
        0% {
            width: 250px;
            height: 250px;
            background: #ffffff;
        }

        100% {
            width: 300px;
            height: 350px;
            background: #000CA5;
        }
    }

    @keyframes family-box2 {
        0% {
            width: 250px;
            height: 250px;
            background: #ffffff;
        }

        100% {
            width: 300px;
            height: 350px;
            background: #7BC347;
        }
    }

    @keyframes family-box3 {
        0% {
            width: 250px;
            height: 250px;
            background: #ffffff;
        }

        100% {
            width: 300px;
            height: 350px;
            background: $secondOrange;
        }
    }

    @keyframes family-box1-r {
        0% {
            width: 300px;
            height: 350px;
            background: #000CA5;
        }
        100% {
            width: 250px;
            height: 250px;
            background: #ffffff;
        }
    }

    @keyframes family-box2-r {
        0% {
            width: 300px;
            height: 350px;
            background: #7BC347;
        }
        100% {
            width: 250px;
            height: 250px;
            background: #ffffff;
        }
    }

    @keyframes family-box3-r {
        0% {
            width: 300px;
            height: 350px;
            background: $secondOrange;
        }
        100% {
            width: 250px;
            height: 250px;
            background: #ffffff;
        }
    }

    @keyframes family-header1 {
        0% {
            margin: -100px -50px 0 auto;
            width: 200px;
            height: 200px;
        }

        90% {
            margin: -150px 50px 0 auto;
        }

        100% {
            margin: -150px auto 0 auto;
            width: 300px;
            height: 300px;
        }
    }

    @keyframes family-header2 {
        0% {
            margin: -100px auto 0 auto;
            width: 200px;
            height: 200px;
        }

        100% {
            margin: -150px auto 0 auto;
            width: 300px;
            height: 300px;
        }
    }

    @keyframes family-header3 {
        0% {
            margin: -100px auto 0 -50px;
            width: 200px;
            height: 200px;
        }

        90% {
            margin: -150px auto 0 0;
        }

        100% {
            margin: -150px auto 0 auto;
            width: 300px;
            height: 300px;
        }
    }

    @keyframes family-header1-r {
        100% {
            margin: -100px -50px 0 auto;
            width: 200px;
            height: 200px;
        }

        0% {
            margin: -150px auto 0 auto;
            width: 300px;
            height: 300px;
        }
    }

    @keyframes family-header2-r {
        100% {
            margin: -100px auto 0 auto;
            width: 200px;
            height: 200px;
        }

        0% {
            margin: -150px auto 0 auto;
            width: 300px;
            height: 300px;
        }
    }

    @keyframes family-header3-r {
        100% {
            margin: -100px auto 0 -50px;
            width: 200px;
            height: 200px;
        }

        0% {
            margin: -150px auto 0 auto;
            width: 300px;
            height: 300px;
        }
    }

    @keyframes family-header-img {
        0% {
            width: 100px;
        }

        100% {
            width: 200px;
        }
    }

    @keyframes family-header-img-r {
        100% {
            width: 100px;
        }

        0% {
            width: 200px;
        }
    }

    @keyframes family-body1 {
        0% {
            font-size: 14px;
            color: #000CA5;
        }

        10% {
            color: #ffffff;
        }

        100% {
            font-size: 18px;
            color: #ffffff;
        }
    }

    @keyframes family-body2 {
        0% {
            font-size: 14px;
            color: #7BC347;
        }

        10% {
            color: #ffffff;
        }

        100% {
            font-size: 18px;
            color: #ffffff;
        }
    }

    @keyframes family-body3 {
        0% {
            font-size: 14px;
            color: $secondOrange;
        }

        10% {
            color: #ffffff;
        }

        100% {
            font-size: 18px;
            color: #ffffff;
        }
    }

    @keyframes family-footer {
        0% {
            width: 200px;
            height: 50px;
            line-height: 50px;
            font-size: 18px;
            border-radius: 20px;
            margin-left: 0;
        }

        100% {
            width: 360px;
            height: 80px;
            line-height: 80px;
            font-size: 22px;
            border-radius: 60px;
            margin-left: -30px;
        }
    }

    @keyframes family-footer-r {
        100% {
            width: 200px;
            height: 50px;
            line-height: 50px;
            font-size: 18px;
            border-radius: 20px;
            margin-left: 0;
        }

        0% {
            width: 360px;
            height: 80px;
            line-height: 80px;
            font-size: 22px;
            border-radius: 60px;
            margin-left: -30px;
        }
    }

}

@media only screen and (max-width: 768px) {
    .landing-hero {
        .bg-img-1 {
            right: -160px;
            top: 80px;
            width: 480px;
        }
        .bg-img-2 {
            display: none;
        }
        .landing-hero__content {
            padding: 175px 0px;
            .landing-hero__title {
                font-size: 85px;
                font-weight: bold;
            }
            .landing-hero__desc {
                font-size: 28px;
                font-weight: bold;
                margin-bottom: 140px;
            }
        }
    }
    .landing-desc {
        flex-direction: column;
        .landing-desc-title-text {
            font-size: 78px;
            line-height: 60px;
            font-weight: bold;
            margin-bottom: 50px;
        }
        .landing-desc-more {
            padding: 0 40px;
        }
    }
    .landing-offer {
        height: auto;
        flex-direction: column-reverse;
        .bg-wm-2 {
            display: none;
        }
        .landing-offer__title {
            font-size: 70px;
        }
        .landing-offer__right {
            width: 180%;
            height: 500px;
            background: #ffffff;;
            .offer__text--3--in {
                color: #000000 !important;
            }
            .landing-offer__right--box--in {
                display: none !important;
            }
            .landing-offer__right__table {
                .offer__text--1 {
                    border: 1px solid $lightGrey;
                }
                .offer__text--2 {
                    border: 1px solid $lightGrey;
                }
                .landing-offer__right--box {
                    display: none;
                }
            }
        }
        .landing-offer__left {
            width: 80%;
        }
    }
    .landing-products {
        .landing-products__header {
            .landing-products__header__title {
                font-size: 60px;
            }
            .landing-products__header__filter {
                .landing-products__header__filter__item {
                    font-size: 18px;
                    padding: 0 10px;
                }
            }
        }
    }
    .single-article {
        display: none;
    }
    .landing-family {
        height: auto;
        .landing-family__header {
            height: 300px;
            .landing-family__header__title {
                font-size: 35px;
                top: 48px;
            }
            .landing-family__header__title--wm {
                font-size: 76px;
            }
        }
        .family-box {
            margin-bottom: 150px;
        }
    }
    .landing-articles {
        height: auto;
        .article__box {
            text-align: center;
            margin: 50px;
        }
    }
}