.register-page {
    position: relative;
    overflow: hidden;
    .bg-sq-1 {
        transform: rotate(-20deg);
        top: 55px;
    }

    .bg-sq-2 {
        top: 0;
    }
}

.register-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row-reverse;
    .register-form-wrap {
        width: 50%;
        .register-form-title {
            text-align: right;
            line-height: 46px;
            color: #ffffff;
            font-size: 66px;
            font-weight: bold;
            direction: rtl;
        }

        .register-form-desc {
            text-align: right;
            font-size: 16ox;
            color: #000000;
            margin: 15px 0;
        }

        .register-form {
            .register-form__input {
                width: 100%;
                height: 70px;
                line-height: 70px;
                margin-top: 10px;
                background-color: #ffb84459;
                border: none;
                padding: 8px;
                color: #000000;
                text-align: right;
                &::placeholder {
                    color: #000000;
                }
            }

            .sign-up-pass {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row-reverse;
                input {
                    margin-left: 10px;
                    &:last-child {
                        margin-left: 0;
                    }
                }
            }

            .customer-account {
                text-align: right;
                a {
                    color: #ffffff;
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            .register-btn {
                margin-top: 20px;
            }
        }
    }

    .register-comments {
        width: 50%;
        margin-right: 20px;
        .register-comments__title {
            text-align: right;
            color: #ffffff;
            margin: 20px 0;
            font-size: 50px;
            font-weight: bold;
        }

        .register-comments__slider {
            
            width: 100%;
            padding: 20px;
            border-radius: 20px;
            background: #ffffff;
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
            .pic-slider {
                padding: 20px;
                .swiper-container {
                    width: 100%;
                    height: 100%;
                    direction: rtl;
                }
                
                .swiper-wrapper {
                    display: flex;
                    align-items: center;
                }

                .swiper-slide {
                    visibility: hidden;
                    text-align: center;              
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    border-radius: 50%;
                    .pic-slider__box {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .pic-slider__box__img {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                        }
                    }
                }

                .swiper-slide-active {
                    visibility: visible;
                    z-index: 1;
                    .pic-slider__box {
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .pic-slider__box__img {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 150px;
                            height: 150px;
                            border-radius: 50%;
                            border: 4px solid #ffffff;
                        }
                    }
                }

                .swiper-slide-next {
                    visibility: visible;
                }

                .swiper-slide-prev {
                    visibility: visible;
                }
            }

            .text-slider {
                .swiper-container {
                    width: 100%;
                    height: 100%;
                    direction: rtl;
                    .swiper-button-next {
                        top: 88%;
                        left: 160px;
                    }

                    .swiper-button-prev {
                        top: 88%;
                        right: 160px;
                    }
                }
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
              
                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    padding: 0 60px 60px 60px;
                    .text-slider-box {
                        .text-slider-box__name {
                            text-align: center;
                            font-size: 32px;
                            font-weight: bold;
                            padding-bottom: 20px;
                            border-bottom: 1px solid $lightGrey;
                        }

                        .text-slider-box__desc {
                            text-align: justify;
                            direction: rtl;
                            font-size: 16px;
                            padding: 10px 0;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .register-wrapper {
        flex-direction: column;
    }

    .register-form-wrap {
        width: 90% !important;
        margin: 20px auto;
    }

    .register-comments {
        width: 90% !important;
        margin: 20px auto;
    }

    .register-form__input {
        &::placeholder {
            font-size: 14px;
        }
    }

    .register-wrapper .register-comments .register-comments__slider .text-slider .swiper-slide {
        padding: 0 0 60px 0;
    }

    .text-slider {
        .swiper-container {
            width: 100%;
            height: 100%;
            direction: rtl;
            .swiper-button-next {
                top: 88%;
                left: 100px !important;
            }

            .swiper-button-prev {
                top: 88%;
                right: 100px !important;
            }
        }
    }
}