.product-header {
    @include flex-bet;
    .product-header__pic {
        width: 60%;
        .product-header__pic__img {
            width: 100%;
        }
    }

    .product-header__details {
        width: 40%;
        text-align: center;
        .product-header__details__title {
            font-size: 65px;
            color: #ffffff;
        }
        
        .product-header__details__desc {
            font-size: 14px;
            direction: rtl;
            text-align: justify;
            color: #ffffff;
        }

        .product-header__details__cart {
            @include flex-bet;
            justify-content: space-around;
            margin: 50px 0;
            button {
                margin-left: 50px;
            }
            .product-header__details__cart__price {
                line-height: 32px;
                font-size: 46px;
                font-weight: bold;
                color: #ffffff;
            }
        }

        .product-header__details__add-to-cart {
            text-align: left;
            .inc-btn {
                background: #ffffff;
                border: none;
                width: 40px;
                height: 40px;
                font-size: 30px;
                line-height: 40px;
                font-weight: bold;
                outline: none;
                box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
            }

            .dec-btn {
                background: #ffffff;
                border: none;
                width: 40px;
                height: 40px;
                font-size: 30px;
                line-height: 40px;
                font-weight: bold;
                outline: none;
                box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
            }

            .cart-txt {
                font-size: 30px;
                font-weight: bold;
                color: #ffffff;
            }
            
            .cart-input {
                width: 7%;
                background: transparent;
                border: none;
                outline: none;
                font-size: 30px;
                font-weight: bold;
                color: #ffffff;
            }
        }
    }
}

.product-body {
    margin: 50px auto;
    .product-body__tab {
        .default-box {
            display: flex;
            flex-direction: row-reverse;
            .product-body__tab__desc {
                width: 30%;
                padding: 10px;
                text-align: center;
                color: $mainOrange;
                font-size: 14px;
            }

            .product-body__tab__tabs-list {
                width: 70%;
                position: relative;
                .product-body__tab__tabs-list__logo {
                    width: 100px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background: #ffffff;
                    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
                    border-radius: 50%;
                    .product-body__tab__tabs-list__logo__img {
                        width: 80px;
                    }
                }

                .product-body__tab__tabs-list__item-wrap {
                    display: flex;
                    flex-direction: row-reverse;
                    .product-tablinks--active {
                        background: #f5f5f5;
                    }

                    .product-body__tab__tabs-list__item {
                        width: 50%;
                        padding: 10px;
                        text-align: center;
                        cursor: pointer;
                        .product-body__tab__tabs-list__item__img {
                            width: 60%;
                        }
                    }
                }
            }
        }
    }

    .product-body__content {
        .default-box {
            margin: 50px 0;
            padding: 20px;
            .product-tabcontent {
                display: none;
            }

            .product-tabcontent--active {
                display: block;
            }

            .product-body__content__gallery {
                height: 500px;
                .swiper-container {
                    width: 100%;
                    height: 300px;
                    margin-left: auto;
                    margin-right: auto;
                }
                .swiper-slide {
                    background-size: cover;
                    background-position: center;
                }
                .gallery-top {
                    height: 80%;
                    width: 100%;
                }
                .gallery-thumbs {
                    height: 20%;
                    box-sizing: border-box;
                    padding: 10px 0;
                }
                .gallery-thumbs .swiper-slide {
                    width: 25%;
                    height: 100%;
                    opacity: 0.4;
                }
                .gallery-thumbs .swiper-slide-thumb-active {
                    opacity: 1;
                }
            }

            .product-body__content__question {
                .swiper-container {
                        width: 100%;
                        height: 100%;
                        direction: rtl;
                }
                .swiper-slide {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    padding: 30px 0;
                    .product-question-box {
                        margin: 20px 5px;
                        text-align: right;
                        .product-question-box__title {
                            font-size: 24px;
                            font-weight: bold;
                            color: $mainOrange;
                        }

                        .product-question-box__body {
                            margin: 15px 0 0 0;
                            padding: 20px;
                            border: 1px solid $lightGrey;
                            .product-question-box__body__answer {
                                font-size: 18px;
                                direction: rtl;
                                text-align: justify;
                                color: $mainOrange;
                            }
                        }
                    }
                }
                .swiper-pagination-bullet {
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    font-size: 16px;
                    font-weight: bold;
                    color: $mainOrange;
                    border: 1px solid $mainOrange;
                    opacity: 1;
                    background: #ffffff;
                }
                .swiper-pagination-bullet-active {
                    color:#fff;
                    background: $mainOrange;
                }
            }

            .product-body__content__detail {
                .product-body__content__detail__wrap {
                    display: flex;
                    flex-direction: row-reverse;
                    .product-body__content__detail__title {
                        width: 50%;
                        .product-body__content__detail__title__list {
                            border-left: 1px solid $lightGrey;
                            text-align: center;
                            .product-body__content__detail__title__list__item {
                                height: 60px;
                                line-height: 60px;
                                color: $mainOrange;
                                font-size: 32px;
                                font-weight: bold;
                                border-bottom: 1px solid $lightGrey;
                                &:last-child {
                                    border: none;
                                }
                            }
                        }
                    }
    
                    .product-body__content__detail__desc {
                        width: 50%;
                        .product-body__content__detail__desc__list {
                            text-align: center;
                            .product-body__content__detail__desc__list__item {
                                height: 60px;
                                line-height: 60px;
                                color: #000000;
                                font-size: 14px;
                                border-bottom: 1px solid $lightGrey;
                                &:last-child {
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }

            .product-body__content__criticize {
                .product-body__content__criticize-desc {
                    color: $mainOrange;
                    font-size: 16px;
                    direction: rtl;
                    text-align: justify;
                    margin: 10px 0;
                }
                
                .product-body__content__criticize__img {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .product-header {
        flex-direction: column;
        .product-header__pic {
            width: 100%;
        }

        .product-header__details {
            width: 80%;
            margin-right: auto;
            margin-left: auto;
            .product-header__details__desc {
                margin-top: 430px;
                color: $mainOrange;
            }

            .product-header__details__cart__price {
                color: $mainOrange !important;
            }

            .product-header__details__add-to-cart {
                text-align: center;
                .cart-txt,
                .cart-input {
                    width: 20%;
                    font-size: 40px;
                    color: $mainOrange !important;
                }
            }
        }
    }

    .product-body {
        .product-body__tab {
            .default-box {
                margin-left: 15px;
                margin-right: 15px;
                .product-body__tab__desc {
                    display: none;
                }
                
                .product-body__tab__tabs-list {
                    width: 100%;
                    .product-body__tab__tabs-list__logo {
                        width: 70px;
                        height: 70px;
                        img {
                            width: 50px;
                        }
                    }
                }
            }
        }
    }
}