.profile-page {
    position: relative;
    overflow: hidden;
    .bg-sq-1 {
        transform: rotate(-20deg);
        top: 55px;
    }

    .bg-sq-2 {
        top: 0;
    }
}

.profile-sidebar {
    width: 86px;
    min-height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    transition: 0.5s;
    z-index: 12;
    .profile-sidebar__wrapper {
        position: relative;
        .profile-sidebar__list {
            width: 100%;
            margin: 0 auto;
            .profile-sidebar__list__item {
                padding: 15px;
                text-align: center;
                cursor: pointer;
                .profile-sidebar__list__item__top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row-reverse;
                }
                .default-box {
                    @include flex-bet;
                    padding: 15px;
                    height: 50px;
                    line-height: 50px;
                    .profile-sidebar__list__item__img {
                        width: 30px;
                    }

                    .profile-sidebar__list__item__name {
                        font-size: 16px;
                        font-weight: bold;
                        color: #000000;
                    }
                }

                .profile-sidebar__list__item__pic {
                    margin: 0 auto;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .profile-sidebar__list__item__pic__img {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        box-shadow: 10px 10px 0px 0px $secondOrange;
                    }
                }

                .profile-sidebar__list__item__name {
                    font-size: 30px;
                    font-weight: bold;
                    color: #000000;
                }
            }
        }
    }
}

.panel-tablinks--active {
    background-color: $lightOrange !important;
}

.panel-tabcontent {
    display: none;
}

.panel-tabcontent--initial {
    display: block;
}

.open-sidebar {
    display: none;
}

.close-sidebar {
    display: block;
}

.profile-content {
    min-height: 100vh;
    .profile-content__wrapper {
        margin: 50px 0;
        .info-panel {
            .info-panel__title {
                text-align: right;
                font-size: 40px;
                font-weight: bold;
                color: #ffffff;
            }
            .line {
                align-items: flex-end;
            }
            .info-panel__box {
                .info-panel__box__input {
                    width: 100%;
                    margin: 10px 0;
                    text-align: right;
                    background: transparent;
                    padding: 10px 0;
                    border: none;
                    border-bottom: 1px solid #ffffff;
                    color: #ffffff;
                    outline: none;
                    &::placeholder {
                        color: #ffffff;
                    }
                }

                .upload-profile-pic {
                    position: relative;
                    width: 100%;
                    border: 1px dashed #ffffff;
                    padding: 30px 10px;
                }
                
                .upload-profile-pic__upload-btn {
                    padding: 10px;
                }

                .labell {
                    position: relative;
                    z-index: 0;
                    display: inline-block;
                    width: 100%;
                    cursor: pointer;
                    color: #ffffff;
                    padding: 10px 0;
                    text-transform:uppercase;
                    font-size:40px;
                    font-weight: bold;
                }
        
                #upload {
                    display: inline-block;
                    z-index: 1;
                    width: 100%;
                    height: 80px;
                    opacity: 0;
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    top: 40px;
                }
            }
        }

        .report-panel {
            .table {
                thead {
                    th {
                        border: none;
                    }
                }

                tbody {
                    td {
                        border-bottom: 1px solid #dee2e6;
                        border-top: none;
                    }

                    tr {
                        &:last-child {
                            td {
                                border: none;
                            }
                        }
                    }
                }

                th,
                td {
                    text-align: center;
                    color: #ffffff;
                }
            }
        }

        .cart-panel {
            //Step Wizard
            .stepwizard {
                display: table;
                width: 100%;
                position: relative;
                margin-top:40px; 
                visibility: hidden;
            
                p {
                    margin-top: 10px;
                }
            
                &-row {
                display: table-row;
                
                &:before {
                    top: 14px;
                    bottom: 0;
                    position: absolute;
                    content: " ";
                    width: 100%;
                    height: 1px;
                    background-color: #ccc;
                    z-order: 0;

                }
                }
            
                &-step {
                    display: table-cell;
                    text-align: center;
                    position: relative;
                
                    .btn.disabled {
                        opacity: 1 !important;
                        filter: alpha(opacity=100) !important;
                    }
                } 

            }
            .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
            }

            /*
            *
            * TOOLTIPTSTER DEFAULT CSS
            */
            .tooltipster-default{border-radius:5px;border:2px solid #000;background:#4c4c4c;color:#fff}
            .tooltipster-default .tooltipster-content{font-family:Arial,sans-serif;font-size:14px;line-height:16px;padding:8px 10px;overflow:hidden}
            .tooltipster-icon{cursor:help;margin-left:4px}
            .tooltipster-base{padding:0;font-size:0;line-height:0;position:absolute;left:0;top:0;z-index:9999999;pointer-events:none;width:auto;overflow:visible}
            .tooltipster-base .tooltipster-content{overflow:hidden}
            .tooltipster-arrow{display:block;text-align:center;width:100%;height:100%;position:absolute;top:0;left:0;z-index:-1}
            .tooltipster-arrow span,.tooltipster-arrow-border{display:block;width:0;height:0;position:absolute}
            .tooltipster-arrow-top span,
            .tooltipster-arrow-top-right span,.tooltipster-arrow-top-left span{border-left:8px solid transparent !important;border-right:8px solid transparent !important;border-top:8px solid;bottom:-7px}
            .tooltipster-arrow-top .tooltipster-arrow-border,.tooltipster-arrow-top-right .tooltipster-arrow-border,.tooltipster-arrow-top-left .tooltipster-arrow-border{border-left:9px solid transparent !important;border-right:9px solid transparent !important;border-top:9px solid;bottom:-7px}
            .tooltipster-arrow-bottom span,.tooltipster-arrow-bottom-right span,.tooltipster-arrow-bottom-left span{border-left:8px solid transparent !important;border-right:8px solid transparent !important;border-bottom:8px solid;top:-7px}
            .tooltipster-arrow-bottom .tooltipster-arrow-border,.tooltipster-arrow-bottom-right .tooltipster-arrow-border,.tooltipster-arrow-bottom-left .tooltipster-arrow-border{border-left:9px solid transparent !important;border-right:9px solid transparent !important;border-bottom:9px solid;top:-7px}
            .tooltipster-arrow-top span,.tooltipster-arrow-top .tooltipster-arrow-border,.tooltipster-arrow-bottom span,.tooltipster-arrow-bottom .tooltipster-arrow-border{left:0;right:0;margin:0 auto}
            .tooltipster-arrow-top-left span,.tooltipster-arrow-bottom-left span{left:6px}
            .tooltipster-arrow-top-left .tooltipster-arrow-border,.tooltipster-arrow-bottom-left .tooltipster-arrow-border{left:5px}
            .tooltipster-arrow-top-right span,.tooltipster-arrow-bottom-right span{right:6px}
            .tooltipster-arrow-top-right .tooltipster-arrow-border,.tooltipster-arrow-bottom-right .tooltipster-arrow-border{right:5px}
            .tooltipster-arrow-left span,.tooltipster-arrow-left .tooltipster-arrow-border{border-top:8px solid transparent !important;border-bottom:8px solid transparent !important;border-left:8px solid;top:50%;margin-top:-7px;right:-7px}
            .tooltipster-arrow-left .tooltipster-arrow-border{border-top:9px solid transparent !important;border-bottom:9px solid transparent !important;border-left:9px solid;margin-top:-8px}
            .tooltipster-arrow-right span,.tooltipster-arrow-right .tooltipster-arrow-border{border-top:8px solid transparent !important;border-bottom:8px solid transparent !important;border-right:8px solid;top:50%;margin-top:-7px;left:-7px}
            .tooltipster-arrow-right .tooltipster-arrow-border{border-top:9px solid transparent !important;border-bottom:9px solid transparent !important;border-right:9px solid;margin-top:-8px}
            .tooltipster-fade{opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;-ms-transition-property:opacity;transition-property:opacity}
            .tooltipster-fade-show{opacity:1}
            .tooltipster-grow{-webkit-transform:scale(0,0);-moz-transform:scale(0,0);-o-transform:scale(0,0);-ms-transform:scale(0,0);transform:scale(0,0);-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-backface-visibility:hidden}
            .tooltipster-grow-show{-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1);-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-moz-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-ms-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-o-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15)}
            .tooltipster-swing{opacity:0;-webkit-transform:rotateZ(4deg);-moz-transform:rotateZ(4deg);-o-transform:rotateZ(4deg);-ms-transform:rotateZ(4deg);transform:rotateZ(4deg);-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform}
            .tooltipster-swing-show{opacity:1;-webkit-transform:rotateZ(0);-moz-transform:rotateZ(0);-o-transform:rotateZ(0);-ms-transform:rotateZ(0);transform:rotateZ(0);-webkit-transition-timing-function:cubic-bezier(0.230,0.635,0.495,1);-webkit-transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4);-moz-transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4);-ms-transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4);-o-transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4);transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4)}
            .tooltipster-fall{top:0;-webkit-transition-property:top;-moz-transition-property:top;-o-transition-property:top;-ms-transition-property:top;transition-property:top;-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1);-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-moz-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-ms-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-o-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15)}
            .tooltipster-fall.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;top:0 !important;opacity:0}
            .tooltipster-slide{left:-40px;-webkit-transition-property:left;-moz-transition-property:left;-o-transition-property:left;-ms-transition-property:left;transition-property:left;-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1);-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-moz-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-ms-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-o-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15)}
            .tooltipster-slide.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;left:0 !important;opacity:0}
            .tooltipster-content-changing{opacity:.5;-webkit-transform:scale(1.1,1.1);-moz-transform:scale(1.1,1.1);-o-transform:scale(1.1,1.1);-ms-transform:scale(1.1,1.1);transform:scale(1.1,1.1)}

            /* *
            * TOOLTIPTSTER OVERRIDE CSS
            */
            .tooltipster-light {
                border-radius: 5px;
                background-color: #F0BE00;
                color: #fff;
            }

            .tooltipster-content {
            font-family: Verdana, sans-serif;
            color: white;
            font-size: 13px;
            line-height: 16px;
            padding: 8px 10px;
            }

            .cart-list {
                .cart-list__wrap {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                }
                .cart-list__row {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #ffffff;
                    color: $mainOrange;
                    margin-left: 10px;
                }
                .cart-list__item {
                    width: 100%;
                    height: 60px;
                    margin: 20px 0;
                    padding: 10px;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px dashed #ffffff;
                    border-radius: 80px;
                    color: #ffffff;
                    .cart-list__item__name {
                        text-align: right;
                        width: 70%;
                    }

                    .cart-list__item__number {
                        width: 15%;
                        text-align: center;
                        border-left: 1px solid #ffffff;
                    }

                    .cart-list__item__price {
                        width: 15%;
                        text-align: center;
                    }
                }
            }

            .cart-buy {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row-reverse;
                .cart-buy__discount {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row-reverse;
                    form {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: row-reverse;
                    }
                    input {
                        width: 100%;
                        margin: 10px 0;
                        text-align: right;
                        background: transparent;
                        padding: 10px 0;
                        border: none;
                        border-bottom: 1px solid #ffffff;
                        color: #ffffff;
                        outline: none;
                        margin-left: 20px;
                        &::placeholder {
                            color: #ffffff;
                        }
                    }

                    .panel-btn {
                        border-radius: 40px;
                    }
                }

                .cart-buy__wrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row-reverse;
                    .cart-buy__wrap__price {
                        padding: 10px;
                        border-left: 1px solid #ffffff;
                    }
                    .cart-buy__wrap__buy {
                        padding: 10px;
                    }
                }
            }
        }
    }
}

.profile-tabs-res {
    display: none;
    margin: 0 20px;
    .open-sidebar {
        display: block;
    }
    .profile-tabs-res__list {
        display: block;
        li {
            height: 70px;
            line-height: 70px;
            margin: 20px 0;
            img {
                width: 50px;
                padding: 10px;
            }
            .default-box {
                display: flex;
                justify-content: center;
                flex-direction: row-reverse;
                align-items: center;
                p {
                    width: 80%;
                    text-align: center;
                    margin: 0 !important;
                }
                .res-img-profile {
                    width: 10%;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .profile-tabs-res {
        display: block;
    }

    .profile-sidebar {
        display: none
    }

    .profile-page {
        .bg-sq-1 {
            height: 1200px;
        }

        .bg-sq-2 {
            left: -700px;
        }
    }
}